<h2 style="margin-left: 20px;" mat-dialog-title>{{title}}</h2>
<form #DiscountBogoForm="ngForm" (ngSubmit)="save()">
  <mat-card class="demo-card" style="margin-left: 20px;">
   
    <div class="row" style="margin-top: 20px;">

        <div class="col-lg-4">
          <mat-form-field class="demo-full-width" style="margin-left: 5px;">
            <mat-label> Name</mat-label>
            <mtx-select [items]="discountBogos" bindLabel="name"  bindValue="id"
            [(ngModel)]="DiscountBogo.name" name="name">
            </mtx-select>
          </mat-form-field>
        </div>

        <div class="col-lg-4">
          <mat-form-field class="demo-full-width" style="margin-left: 5px;">
            <mat-label> Restaurant</mat-label>
            <mtx-select [items]="restaurants" bindLabel="nameLabelCode"  bindValue="id"
            [(ngModel)]="DiscountBogo.restaurant" name="restaurant">
            </mtx-select>
          </mat-form-field>
        </div>
 
        <div class="col-lg-4">
            <td><mat-checkbox></mat-checkbox>
                <span>Is Active</span></td>
            
        </div>

        
       

       
    </div>
   
   
  
</mat-card>

   


<mat-dialog-actions align="end">
  <button style="float: right;margin-left: 5px;" type="submit" mat-raised-button color="primary" [disabled]="!DiscountBogoForm.form.valid" mat-dialog-close>Submit</button>
  <button style="float: right;" mat-raised-button mat-dialog-close>Cancel</button>

</mat-dialog-actions>
</form>
