@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

.course {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin-top: 20px;
    overflow: hidden;
    width: 600px;
    height: 150px;
  }

  .course-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    width: 100%;
  }

  .course-preview-green{
    background-color: green;
    color: #fff;
    padding: 20px;
    max-width: 250px;
    width: 35%;
    height: 150px;
  }

  .course-preview-green a {
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    color: white;
    text-decoration: none;
  }
  .course-preview-green h6{
    color: white;
  }
  h4 {
        color: white;
 }  
 .titles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 17px 10px 10px 10px ;
    width: 65%;
  }

  .title-description {
    font-weight: 600;
  }
  .descriptions {
    display: grid;
  }
  .grid-inf{
    display: grid;
  }

  .input-value {
    background: transparent;
  
  }
  .course-preview {
    background-color: orange;
    color: #fff;
    padding: 20px;
    max-width: 250px;
    width: 35%;
    height: 150px;
  }