<div class="container-fluid">
    <div class="row">
        <h3>Details Menu Template </h3>
    </div>


    <div class="row">
        <div class="col-6 mb-3">
            <h6>Brand:</h6>
            {{menuTemplate.languageResources[0].value}}
        </div>
        <div class="col-6 mb-3">
            <h6>Name :</h6>
            {{menuTemplate.languageResources[0].value}}
        </div>
    </div>
    <div class="row">
   
        <div class="col-6 mb-3">
            <h6> SDM_MenuTemplateID :</h6>
            {{menuTemplate.id}}
        </div>
    </div>
</div>