.style-filtre {
  width: 100%;
  padding-top: 10px;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.btn-cancel {
  float: left;
  width: 120px;
}
.btn-submit {
  float: right;
  background-color: #4272d7;
  color: white;
  width: 120px;
  margin-right: 10px;
}
.row-actions{
  width: 100%;
}
