<h2 style="margin-left: 20px;" mat-dialog-title>{{title}}</h2>
<form #brandGroupForm="ngForm" (ngSubmit)="save()">
    
  <section>

    <mat-card class="demo-card" style="margin-left: 20px;">
      <div class="row" style="margin-top: 20px;">
       
        <div class="col-lg-4">
          <mat-form-field class="demo-full-width" style="margin-left: 5px;">
            <mat-label>Name</mat-label>
            <input matInput  [(ngModel)]="BrandGroup.nameLabelCode" [readonly]="view"  name="nameLabelCode" required="true">
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field class="demo-full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput ng-disabled="condition" [(ngModel)]="BrandGroup.phoneNumber" [readonly]="view"  name="phoneNumber" required="true">
          </mat-form-field>
        </div>
        <div class="col-lg-4" style="width: 410px;">
          <mat-form-field class="demo-full-width" style="margin-right: 5px;">
            <mat-label>Email</mat-label>
            <input matInput ng-disabled="condition" [(ngModel)]="BrandGroup.email" [readonly]="view"  name="email" required="true">
          </mat-form-field>
        </div>
       
      </div>
    </mat-card>
   
    
  </section>

<mat-dialog-actions align="end">
  <button *ngIf="!view" style="float: right;margin-left: 5px;" type="submit" mat-raised-button color="primary" [disabled]="!brandGroupForm.form.valid" mat-dialog-close>Submit</button>
  <button *ngIf="!view" style="float: right" mat-raised-button mat-dialog-close>Cancel</button>

</mat-dialog-actions>
</form>




