<h2 style="margin-left: 20px;" mat-dialog-title>{{page}}</h2>
<form #DeliveryOfferVMForm="ngForm" [formGroup]="formValue">
  <mat-card class="demo-card" style="margin-left: 20px;">

    <div class="row" style="margin-top: 20px;">

      <div class="col-lg-4">
        <mat-form-field class="demo-full-width" style="margin-left: 5px;">
          <mat-label>Name</mat-label>
          <input matInput  name="name" required="true" formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field  class="demo-full-width" style="width: 378px;">
          <mat-label>Promo Start Date </mat-label>
          <input matInput  type="date" formControlName="activationDate">
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field  class="demo-full-width" style="margin-left: 5px;">
          <mat-label>Promo End Date </mat-label>
          <input matInput  type="date" formControlName="expirationDate">
        </mat-form-field>

      </div>
    </div>
    <div class="row" style="margin-top: 20px;">

      <div class="col-lg-4">
        <mat-form-field class="example-full-width" appearance="fill" class="style-filtre"  >
          <mat-label>pricingType</mat-label>
          <mat-select name="selectedOption" #select="matSelect">
            <mat-option value=1> Free</mat-option>
            <mat-option value=0>Percent</mat-option>
            <mat-option value=0>FixPrice</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="demo-full-width" style="margin-left: 5px;">
          <mat-label>delivery Amount</mat-label>
          <input matInput name="deliveryAmount" required="true" formControlName="deliveryAmount">
        </mat-form-field>
      </div>
      <div class="col-lg-4" style="width: 410px;">

        <td><mat-checkbox formControlName="status"></mat-checkbox>
          <span>Is active</span></td>
      </div>
    </div>

  </mat-card>




  <mat-dialog-actions align="end">
    <button *ngIf="page=='create'" style="float: right;margin-left: 5px;" type="submit" mat-raised-button color="primary" (click)="save()">Add</button>
    <button *ngIf="page=='edit'" style="float: right;margin-left: 5px;" type="submit" mat-raised-button color="primary" (click)="update()">Update</button>
    <button style="float: right;" mat-raised-button mat-dialog-close>Cancel</button>

  </mat-dialog-actions>
</form>
