<!--<h2 style="margin-left: 20px;" mat-dialog-title>{{title}}</h2>-->
<!--<form #CouponForm="ngForm" (ngSubmit)="save()">-->
<!--  <mat-card class="demo-card" style="margin-left: 20px;">-->
<!--   -->
<!--    <div class="row" style="margin-top: 20px;">-->

<!--        <div class="col-lg-6">-->
<!--          <mat-form-field class="demo-full-width" style="margin-left: 5px;">-->
<!--            <mat-label>User Name</mat-label>-->
<!--            <mtx-select [items]="users" bindLabel="userName"  bindValue="id"-->
<!--            [(ngModel)]="Coupon.userName" name="nameLabelCode" required="true">-->
<!--            </mtx-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!-- -->
<!--        <div class="col-lg-6">-->
<!--            <mat-form-field  class="demo-full-width">-->
<!--                <mat-label>Coupon Name </mat-label>-->
<!--                <mtx-select [items]="coupons" bindLabel="title"  bindValue="id"-->
<!--                [(ngModel)]="Coupon.couponName" name="couponName" required="true">-->
<!--                </mtx-select>-->
<!--              </mat-form-field>-->
<!--            -->
<!--        </div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--        -->
<!--       -->

<!--       -->
<!--    </div>-->
<!--   -->
<!--   -->
<!--  -->
<!--</mat-card>-->

<!--   -->


<!--<mat-dialog-actions align="end">-->
<!--  <button style="float: right;margin-left: 5px;" type="submit" mat-raised-button color="primary" [disabled]="!CouponForm.form.valid" mat-dialog-close>Submit</button>-->
<!--  <button style="float: right;" mat-raised-button mat-dialog-close>Cancel</button>-->

<!--</mat-dialog-actions>-->
<!--</form>-->
