<div class="row">
  <div class="example-header">
    <button class="btn-addUser" mat-raised-button style="float: right" (click)="createUser()">Add User</button>
  </div>
</div>
<div class="row">
  <div class="example-container">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Mail </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.userName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.phoneNumber }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creationTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Creation Time </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.creationTime }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="macAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header> MacAddress </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.macAddress }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="twoFactorEnabled">
        <mat-header-cell *matHeaderCellDef mat-sort-header> TwoFactorEnabled </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.twoFactorEnabled }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="matero-user-panel-icons">
            <button mat-icon-button (click)="deleteUser(element)">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="editUser(element)">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-icon-button (click)="viewUser(element)">
              <mat-icon>info</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" [style.background-color]="'#DCDCDC'">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
