<div class="row">
  <div class="example-header">
    <button class="btn-addRole" mat-raised-button style="float: right" (click)="createRole()">Add Role</button>
  </div>
</div>
<div class="row">
  <div class="example-container">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.status }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creatorUserId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Creator UserId </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.creatorUserId }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creationTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Creation Time </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.creationTime }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="matero-user-panel-icons">
            <button mat-icon-button (click)="deleteRole(element.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="editRole(element)">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-icon-button (click)="viewRole(element)">
              <mat-icon>info</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" [style.background-color]="'#DCDCDC'">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
