<div class="row">
  <div class="example-header">
    <button class="btn-add-template" mat-raised-button style="float: right" (click)="createTemplateMenu()">
      Add TemplateMenu
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <button class="button-filtre" mat-raised-button color="accent" (click)="showFiltre()">
      <mat-icon>filter_list</mat-icon> Filter
    </button>
  </div>
</div>
<form class="form-group" method="get" action="#">
  <div class="row filters-div" *ngIf="isFiltreShowed">
    <div class="form-group col-sm-5">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput  />
      </mat-form-field>
    </div>
    <div class="form-group col-sm-5">
      <mat-form-field class="example-full-width">
        <mat-label>(Brand) arName</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="col-sm-2">
      <button class="button-search" mat-raised-button color="primary">Search</button>
    </div>
  </div>
</form>

<div class="row">
  <div class="example-container" >
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.languageResources[0].value }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Brand </mat-header-cell>
        <mat-cell *matCellDef="let row" > {{getLabel( row.brandId | labelBrand | async) }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sdmMenuTemplateId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> SDM menu template Id </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color">
          {{ row.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="matero-user-panel-icons">
            <button mat-icon-button (click)="deleteTemplateMenu(element.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="editTemplateMenu(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="viewTemplateMenu(element)">
              <mat-icon>visibility</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" [style.background-color]="'#DCDCDC'">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
